langchain
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langgraph
langsmith
langchain_tavily
langchain-mcp-adapters
mcp
pypdf
pymupdf
sentence-transformers
chromadb
faiss-cpu